:root {
  --red: #e50914;
  --black: #141414;
  --gray: #aaaaaa;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;

  text-decoration: none;
}

body {
  background: var(--black);
  
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.container {
  margin-left: 15px;
}


/* ==== HEADER ELEMENTS ==== */
body header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

header .logo {
  color: var(--red);
  font-family: Arial, Times, sans-serif;
  font-size: 40px;
}

header nav a {
  color: var(--gray);
  margin: 10px;
}

body header nav a:hover {
  color: #ffffff;
}


/* ==== MAIN MOVIE ==== */
.main-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  height: 400px;

  font-size: 16px;
  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)100%), url(../../src/images/house-bg.jpg);
  background-size: cover;
}

.main-movie .container {
  width: 70%;
}

.main-movie .title {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.main-movie .description {
  margin-top: 10px;
  margin-bottom: 40px;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;

  transition: .2s ease all;
}

.button:hover {
  background-color: white;
  color: var(--black);
}

.button i {
  margin-right: 8px;
}

.movie-box {
  height: 100%;
  width: 100%;
  
  display: block;

  cursor: pointer;
}

.carousel-movies {
  margin-top: 5px;
}



